.navbar-brand img {
    max-height: 40px;
}


header {
    min-height: 70vh;
    background-image: url(../img/img.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}



.formprofil {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 70vh;
}

h1 {
    font-family: 'Raleway',
        sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Dancing Script',
        cursive;
    margin-bottom: 50px;
}

.slogan {
    display: flex;
    min-height: 70VH;
    align-items: flex-end;
    justify-content: flex-end;
    color: #f9fbfc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#presentation .media span {
    color: #17a2b8;
    font-size: 3rem;

    width: 4rem;
    text-align: center;

}

#presentation .media {
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}

#presentation .media:hover {
    background-color: rgba(128, 128, 128, 0.28);
}

.avisclient {
    min-height: calc(100vh - 50px);
    background-color: #d3dae4;

}

.avisclient span {
    font-size: 5rem;
    color: #17a2b8;
}

.avisclient h5 {
    font-size: 2rem;
    color: #8888;
}

.fondchambre {
    min-height: calc(100vh - 50px);
    background-image: url(../img/headerimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#contact {
    background-image: url(../img/vuee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 50px);

}

#contact .row {
    min-height: calc(100vh - 50px);
}

.formcontact {
    background-color: rgba(255, 255, 255, .7);
    padding: 2rem 1rem;

}

footer {
    background-color: rgba(0, 0, 0, .8);
    color: #9999;
    padding-top: 2rem;
    padding-bottom: 1.5rem;

}

footer a {
    color: #9999;
    font-size: 2rem;
    transition: all .2s ease-in-out;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

@media(max-width:768px) {
    header.slogan {
        display: none;
    }
}